.stages {
	margin: 0;
	padding: 32px;
	box-sizing: border-box;
	width: 277px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	background-color: #201A23;
	border-radius: 24px;
	flex-shrink: 0;
	position: sticky;
	top: 20px;
}

.title {
	margin: 0;
	font-weight: 400;
	font-size: 28px;
	font-style: normal;
	line-height: 1.2;
	color: var(--main-white-color);
}

.list {
	margin: 20px 0 0 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.stage {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 8px;
	&__number {
		margin: 0;
		width: 40px;
		height: 40px;
		font-weight: 400;
		font-size: 20px;
		font-style: normal;
		line-height: 1;
		color: var(--main-white-color);
		border: 1px solid var(--main-white-color);
		background-color: inherit;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all .3s ease-in-out;
		&:hover {
			opacity: .7;
		}
	}
	&__info {
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 2px;
	}
	&__title {
		margin: 0;
		font-weight: 500;
		font-size: 16px;
		font-style: normal;
		line-height: 1;
		color: var(--main-white-color);
		transition: all .3s ease-in-out;
	}
	&__subtitle {
		margin: 0;
		font-weight: 400;
		font-size: 12px;
		font-style: normal;
		line-height: 1;
		color: #9E9E9E;
	}
}

.stage_active .stage__number {
	background-color: #C109D7;
}

.stage_active .stage__title {
	color: #C109D7;
}

@media (max-width: 1600px) {
	.stages {
		padding: 24px;
		width: 277px;
	}
}

@media (max-width: 1536px) {
	.stages {
		width: 246px;
	}
}

@media (max-width: 1366px) {
	.title {
		font-size: 24px;
	}
	.stage {
		gap: 6px;
		&__number {
			width: 32px;
			height: 32px;
			font-size: 16px;
		}
		&__title {
			margin: 0;
			font-weight: 500;
			font-size: 16px;
			font-style: normal;
			line-height: 1;
			color: var(--main-white-color);
			transition: all .3s ease-in-out;
		}
		&__subtitle {
			margin: 0;
			font-weight: 400;
			font-size: 12px;
			font-style: normal;
			line-height: 1;
			color: #9E9E9E;
		}
	}
}

@media (max-width: 1279px) {
	.stages {
		padding: 20px;
		width: 220px;
	}
	.list {
		margin: 16px 0 0 0;
		gap: 16px;
	}
	.stage {
		&__title {
			font-size: 14px;
		}
	}
}
