.wrapper {
	margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 11px 0;
}

.checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #F1F1F1;
	background-color: rgb(241, 241, 241, 0.04);
  border-radius: 6px;
  margin-right: 8px;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;
	cursor: pointer;

  &:checked {
    background-color: #C109D7;
    &::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 8px;
      width: 8px;
      height: 16px;
			background-image: url('../../../../shared/images/icons/check.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
    }
  }
}

.text {
	margin: 0;
  font-size: 14px;
  line-height: 1.1;
  color: #9E9E9E;

  &_empty {
    color: var(--main-grey-color);
  }
}

@media (max-width: 768px) {
	.wrapper {
		padding: 8px 0;
	}
	.text {
		font-size: 12px;
	}
	.checkbox {
		width: 20px;
		height: 20px;
		&:checked {
			&::after {
				top: 1px;
				left: 5px;
			}
		}
	}
}
