@import url('./vendor/normalize.css');
@import url('./shared/fonts/fonts.css');

:root {
	--background-color: #F1F1F1;
	--background-black-color: #201A23;
	--main-white-color: #F1F1F1;
	--main-black-color: #070707;
	--main-blue-color: #072971;
	--main-blue-light-color: #2052B2;
	--main-blue-background-color: #DBEAFE;
	--main-blue-dark-color: #3A4B9E;
	--main-grey-color: #A5A5A5;
	--main-grey-light-color: #EEEEEE;
	--main-grey-background-color: #F6F7F9;
	--main-grey-dark-color: #585D69;
	--accent-green-color: #38A169;
	--background-green-color: #F0FFF4;
	--accent-red-color: #E53E3E;
	--background-red-color: #FFF5F5;
	--accent-yellow-color: #DD6B20;
	--background-yellow-color: #FFFAF0;
	--accent-purple-color: #7C3AED;
	--background-purple-color: #E0D4FF;
	--accent-grey-color: #797E8B;
	--accent-blue-light-color: #D5E1FF;
	--accent-green-light-color: #DAF5DF;
	--accent-red-light-color: #FFD7D6;
	--accent-purple-light-color: #C4B5FD;
	--slider-color: #d9d9d9;
	--inactive-color: #F6F6F7;
	--border-radius: 40px;
	color: var(--main-white-color);
	font-weight: normal;
	font-size: 16px;
	font-family: 'Gilroy', sans-serif;
	font-display: swap;
	font-style: normal;
	line-height: 1.5;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
	background-color: var(--main-black-color);
}
